.search_kind_contents {
}

.search_kind_position {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  overflow: auto;
}
.arrow_container {
  display: flex;
  align-items: center;
  width: 10%;
}
.arrow_container_back {
  justify-content: flex-end;
}

.arrow_container_forward {
  justify-content: flex-start;
}
.arrow_container svg {
  transition: fill 0.3s ease;
}

.arrow_container svg:hover {
  width: 35px;
  height: 35px;
}
.search_kind_container {
  display: flex;
  justify-content: flex-start;
}
.Kind_Choice {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 13px;
  padding: 10px;
}

.MuiButton-root.btn_Kind_Choice:hover {
  background-color: var(--color-03);
  color: var(--color-04);
}

.MuiPaginationItem-root {
  color: var(--color-03) !important;
}
.kinds_bloc_position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 180px);
  padding: 1rem 0 0 0;
}
.kinds_bear_position {
  display: flex;
  justify-content: center;
}
.kinds_bear_container,
.MovieThumbnails_Kind_container {
  display: flex;
  border: solid 1px white;
  border-radius: 25px;
  padding: 2rem 0;
  width: 92%;
}

.kinds_bear_container {
  justify-content: space-evenly;
  padding: 2rem 0;
}

.MovieThumbnails_Kind_container {
  justify-content: center;
  margin-top: 1rem;
  padding: 1.5rem 0;
  overflow: auto;
  height: 568px;
}

.kinds_pitch_container {
  display: flex;
  align-items: center;
  font-size: 3rem;
  width: 59%;
}
.kinds_pitch {
  font-family: var(--font-03);
  text-align: center;
  line-height: normal;
  color: var(--color-01);
}
.kinds_bear_illustr {
  width: 32%;
  border-radius: 25px;
}

.MovieThumbnails_kind {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
}
.btn_sort_container_kind {
  width: 83%;
  display: flex;
  justify-content: space-between;
}
