.Adm_form_box {
  background-color: beige;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}
.Adm_l0 {
  display: flex;
  flex-direction: column;
}

.AdM_main_title {
  font-family: var(--font-01);
  font-size: 2rem;
  color: var(--color-04);
  text-align: center;
  padding-bottom: 15px;
}
.AdM_main_title_bar {
  border-bottom: dashed 1px var(--color-04);
}

.Adm_l1,
.Adm_l2 {
  display: flex;
  justify-content: space-evenly;
}
.Adm_l2 {
  padding: 1rem 0;
}
.Adm_l1a,
.Adm_l1b,
.Adm_l2a,
.Adm_l2b {
  width: 40%;
  padding: 16px;
}

.Adm_l3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  padding-bottom: 1rem;
}

.adm-l1_item {
  display: flex;
  align-items: center;
}
.Adm_l2b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted black;
  padding: 1rem;
  gap: 1rem;
}
.SourceResearchItems {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
.SourceResearchItems_2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 0 10px;
  gap: 1rem;
}
.year_duration_Btn_AddNewMovie {
  display: flex;
  gap: 1rem;
}
.year_duration_Btn_AddNewtvShow {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.preview_cover {
  width: 20%;
}

.input_file_btn {
  width: 35% !important;
  padding: 5px;
  cursor: pointer;
}

.upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  cursor: pointer;
}

.Btn_Add_itemsPopUp {
  cursor: pointer;
}

.modal_closed_btn_MovieItemList {
  text-align: right;
  font-family: var(--font-04);
  font-weight: bold;
  color: var(--color-05);
  cursor: pointer;
  padding: 1rem 1rem 1.5rem 0;
  margin: 0 5% 0 0;
}

@media (max-width: 1024px) {
.Adm_l1, .Adm_l2 {
    flex-direction: column;
}

.Adm_l1a, .Adm_l1b, .Adm_l2a {
    width: 95%;
}
.Adm_l2b{
  width: 90%;
}
}