.AdminItemsSection {
  width: 95%;
}
.HeaderAdminItemsSection {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.admin_Title_feat_container {
  width: 50%;
}
.admin_Title_feat {
  font-size: 1.5rem;
  font-family: var(--font-01);
}
.admin_feat_tools_line {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
}
.admin_search_bar {
  border: solid 1px gray;
}

table {
  min-width: 100%;
  border-collapse: collapse;
}
caption {
  font-size: large;
  font-weight: bold;
  padding: 15px 0;
}
th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

/* Styliser les en-têtes en gras */
thead th {
  font-weight: bold;
}

/* Styliser les lignes de couleurs alternées */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin_tools_ico {
  cursor: pointer;
}

.LoaderTemp {
  width: 100%;
  text-align: center;
}

.Admin_search_bar_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  border-radius: 25px;
  padding: 10px;
}
@media (max-width: 720px) {
  .HeaderAdminItemsSection {
    justify-content: center;
}
  .admin_Title_feat_container {
    display: none;
  }
  .admin_feat_tools_line {
    justify-content: center;
  width: 90%;
}
  /* Enveloppe de la table si possible */
  .AdminItemsSection {
    overflow-x: auto;
  }

  table {
    display: block; /* rend la table scrollable */
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    font-size: 0.75rem;
  }

  thead {
    display: none;
  }
  tbody,
  th,
  td,
  tr {
    display: block; /* force la table à se comporter comme un flux */
  }

  /* chaque ligne devient un mini bloc */
  tr {
    margin-bottom: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0.5rem;
  }

  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

  td {
    text-align: left;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  td::before {
    content: attr(data-label); /* crée un label pour chaque valeur */
    font-weight: 600;
    text-transform: capitalize;
  }

  /* Icônes */
  .admin_tools_ico {
    width: 2rem !important;
    height: 2rem !important;
    margin: 10px
  }

  /* LOADER */
  .LoaderTemp {
    font-size: 0.9rem;
    padding: 1rem 0;
  }
}
