# .env dans le backend || PROD

APP_PORT=

# MySQL prod
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

#cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# secret
JWT_SECRET=
VITE_APP_TMDB_AUTH_TOKEN=
