.thumbail_container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  height: 13rem;
  gap: 10px;
  margin: min(10px);
  margin-bottom: 1rem;
  cursor: pointer;
}
.thumbail_cover2 {
  height: 10rem;
}
.thumbail_title2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: var(--color-primary);
  text-align: center;
}
.thumbail_title2:hover {
  color: var(--color-secondary);
}
.thumbail_year2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.Movie_Modal {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  overflow-y: auto;
}
.container_movie_card {
  max-width: 1037px;
}
.modal_closed_btn {
  text-align: right;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: var(--color-secondary);
  cursor: pointer;
  padding: 1rem 1rem 1rem 0;
  margin: 0 5% 0 0;
}
