.MovieArtist_Search_bar_position {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3rem;
  padding: 1rem 0;
  gap: 2rem;
}

.MovieArtist_Search_bar_container {
  display: flex;
  align-items: center;
  background-color: var(--search-bg, #fefee2);
  padding: 10px 1rem;
  border-radius: 1rem;
  width: 30%;
}

.MovieArtist_search_bar {
  flex:1;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #242105;
}