.Focus_Modal {
  padding: 1.5rem;
  margin: 0 5%;
  display: flex;
  justify-content: center;
}

.Focus_Modal_container {
}
.focus_modal_closed_btn {
  text-align: right;
  font-family: var(--font-04);
  font-weight: 600;
  color: var(--color-02);
  cursor: pointer;
  padding: 1rem;
  width: 1200px;
}
.focusCard_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.focusCard_content {
  display: flex;
  width: 1200px;
  background-color: var(--color-04);
  padding: 1rem;
  gap: 1rem
}

.focusCard_image {
  width: 30%;
  height: 30%;
}

.focusCard_titre {
  font-family: var(--font-02);
  color: var(--color-01);
  font-size: xx-large;
}

.focusCard_Pitch {
  font-family: var(--font-02);
  color: var(--color-01);
  font-size: medium;
}

.focusCard_divider {
  background-color: whitesmoke;
  width: 100%;
  height: 1px;
  margin: 1rem 0;
}
