@media (max-width: 1280px) {
  .focus_modal_closed_btn {
    width: 1000px;
  }

  .focusCard_content {
    width: 1000px;
  }
}

@media (max-width: 1088px) {
  .focus_modal_closed_btn {
    width: 900px;
  }

  .focusCard_content {
    width: 900px;
    padding-bottom: 2rem;
  }
}

@media (max-width: 1025px) {
  .focus_modal_closed_btn {
    width: 850px;
  }

  .focusCard_content {
    width: 850px;
  }
  .focusCard_ico_container {
    gap: 2rem;
  }
  .focusCard_ico {
  width: 2.5rem;
}
}

@media (max-width: 980px) {
  .focus_modal_closed_btn {
    width: 800px;
  }

  .focusCard_content {
    width: 800px;
  }
}

@media (max-width: 940px) {
  .focus_modal_closed_btn {
    width: 90%;
  }

  .focusCard_content {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .focusCard_image {
    width: 40%;
    height: 40%;
  }

  .focusCard_titre {
    text-align: center;
  }

  .focusCard_divider_dashed {
    margin: 1.5rem 0;
  }

  .focusCard_ico_container {
    justify-content: center;
  }
}

@media (max-width: 720px) {
  .focusCard_content {
    gap: 1.5rem;
  }
  .focusCard_image {
    width: 50%;
    height: 50%;
  }

  .focusCard_titre {
    font-size: x-large;
  }

  .focusCard_ico_container {
    gap: 1.5rem;
  }
}
