.Amount_info_container {
  display: flex;
  justify-content: center;
}

.Amount_info {
  font-family: var(--font-06);
  font-size: 1rem;
  text-align: center;
  color: var(--color-01);
  padding: 10px 0;
  border: solid 1px white;
  border-top: 0;
  border-radius: 0 0 20px 20px;
  width: 20%;
  background-color: var(--color-04);
}

.movieAmountColor {
  color: var(--color-06);
}

@media (max-width: 1200px) {
  .Amount_info {
    width: 25%;
    font-size: small;
  }
}

@media (max-width: 1000px) {
  .Amount_info {
    width: 30%;
  }
}
@media (max-width: 840px) {
  .Amount_info {
    width: 40%;
  }
}
@media (max-width: 720px) {
  .Amount_info {
    width: 50%;
  }
}
