.Amount_info_container_counter {
  display: flex;
  justify-content: center;
}

.Amount_info_counter {
  font-family: var(--font-06);
  font-size: 1rem;
  text-align: center;
  color: var(--color-02);
  padding: 10px 1rem;
  border: solid 1px white;
  border-top: solid 1px white;
  border-bottom: 0;
  border-radius: 20px 20px 0 0;
}

.whiteString_counter {
  color: var(--color-01);
}
