.main_login_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.content_login_page,
.form_login{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 450px;
}

.title_login_page{
    font-family: var(--font-01);
    color: var(--color-01);
    font-size: xx-large;
    text-align: center;
}