.chronologic_btn,
.chronologic_btn_artists {
  font-family: var(--font-06);
  text-align: center;
  color: var(--color-01);
  border-radius: 0 0 15px 15px;
  width: min(13%);
  cursor: pointer;
}

.chronologic_btn_artists {
  width: 15%;
  line-height: 0;
}

.chronologic_btn:hover,
.chronologic_btn_artists:hover {
  color: var(--color-03);
}
