.chronologic_btn,
.chronologic_btn_artists {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
  color: var(--color-primary);
  padding: 10px 0;
  border: solid 1px var(--color-primary);
  border-top: 0;
  border-radius: 0 0 15px 15px;
  width: min(13%);
  cursor: pointer;
}

.chronologic_btn_artists {
  width: 15%;
  line-height: 0;
}

.chronologic_btn:hover,
.chronologic_btn_artists:hover {
  color: var(--color-third);
}
