.thumbail_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13rem;
  height: 18rem;
  gap: 1rem;
  margin: min(10px);
  margin-bottom: 1rem;
  cursor: pointer;
}
.thumbail_cover {
  height: 13rem;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.thumbail_title {
  font-family: var(--font-02);
  font-weight: bold;
  color: var(--color-01);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.thumbail_container:hover .thumbail_cover {
  transform: scale(1.05);
  filter: brightness(1.20);
}

.thumbail_container:hover .thumbail_title{
  filter: brightness(1.20);
}

.thumbail_year {
  font-family: var(--font-02);
  font-weight: 600;
}
.Movie_Modal {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  overflow-y: auto;
}
.container_movie_card {
  max-width: 1037px;
}
.modal_closed_btn {
  text-align: right;
  font-family: var(--font-04);
  font-weight: 600;
  color: var(--color-02);
  cursor: pointer;
  padding: 1rem 1rem 1rem 0;
  margin: 0 5% 0 0;
}
