@media (max-width: 1280px) {
.thumbail_container {
    width: 11rem;
}

.thumbail_cover {
    height: 13rem;
}
}

@media (max-width: 1024px) {
.thumbail_container {
    width: 9rem;
   height: 14rem;
}

.thumbail_cover {
    height: 12rem;
}

.thumbail_title {
    font-size: small;
}
}

@media (max-width: 970px) {
.thumbail_container {
    width: 8rem;
}

.thumbail_cover {
    height: 11rem;
}
}