.alphabetic_btn,
.alphabetic_btn_artists {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  color: var(--color-primary);
  border-radius: 0 0 15px 15px;
  width: min(13%);
  cursor: pointer;
  transition: height 0.3s ease-in-out;
}

.alphabetic_btn_artists {
  width: 15%;
  line-height: 0;
}

.alphabetic_btn:hover,
.alphabetic_btn_artists:hover {
  color: var(--color-third);
}
.alphabetic_btn:active {
  border: solid 1px var(--color-third);
  border-top: 0;
}
