.alphabetic_btn svg,
.alphabetic_btn_artists svg {
  color: var(--color-01);
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.alphabetic_btn:hover svg,
.alphabetic_btn_artists:hover svg {
  color: var(--color-06);
}

.alphabetic_btn:active svg {
  color: var(--color-02);
  transform: rotate(20deg);
}

.alphabetic_btn:disabled svg {
  color: var(--color-04);
}
