@media (max-width: 1100px) {
  .ItemsCard {
    flex-direction: column;
    align-items: center;
  }
  .ItemsCard_Col_0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 95%;
  }
  .ItemsCard_bar {
    border-top: 1px dashed whitesmoke;
    width: 100%;
    margin: 1rem 0;
  }

  .ItemsCard_Col1 {
    width: 95%;
  }
  .ItemsCard_Col2 {
    display: none;
  }
  .Info_Btn-Modify {
    padding-top: 1rem;
  }
  .Item_Editing_Buttons {
    justify-content: center;
  }
}
