.AdminFeatNav {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.AdminFeatContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AdminFeatContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  width: 95%;
  border-radius: 25px;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}
