.main_HomePage {
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow: hidden;
}
.home_title_container {
  flex: 0 0 auto;
}
.home_title_position {
  display: flex;
  justify-content: center;
  height: 5rem;
}

.home_Main_Title {
  font-family: var(--font-01);
  font-size: 54px;
  color: var(--color-03);
  display: flex;
  align-items: center;
}
.welcome_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: calc(100vh - 175px); */
  height: 100%;
  overflow-y: auto;
}
.welcome_content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0;
  flex-wrap: wrap;
}

.camera_bear_welcome {
  width: 32%;
  border-radius: 25px;
  height: max-content;
}
.ShuffleThumbnails_welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.MovieThumbnails_welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: dashed 1px white;
  border-radius: 25px;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
