@media (min-width: 1440px) and (min-height: 900px) {
  .ShuffleThumbnails_welcome {
    width: 75%;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .ShuffleThumbnails_welcome {
    width: 80%;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .ShuffleThumbnails_welcome {
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-height: 850px) {
  .ShuffleThumbnails_welcome {
    width: 100% !important;
  }
}
