.AlphabetDropdown,
.AlphabetDropdown2 {
  text-align: center;
  font-family: var(--font-02);
  color: var(--color-02);
  background: var(--color-04);
  border: solid 1px white;
  padding: 5px 0;
  cursor: pointer;
}

.AlphabetDropdown {
    width: 16%;
    font-size: medium;
    border: solid 1px white;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    font-weight: bold;
}

.AlphabetDropdown2 {
  width: 50%;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
}
