.AlphabetDropdown {
  width: 16%;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  color: var(--color-secondary);
  border: solid 1px white;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  background: var(--color-background);
  padding: 5px 0;
  cursor: pointer;
}

.AlphabetDropdown2 {
  width: 16%;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  color: var(--color-secondary);
  border: solid 1px white;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  background: var(--color-background);
  padding: 5px 0;
  cursor: pointer;
}
