.YearsDropdown {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: var(--color-secondary);
  background: var(--color-background);
  border: solid 1px white;
  padding: 5px 0;
  cursor: pointer;
  width: 9%;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
}
