.FocusThumbnail {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.image_FocusThumbnail {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.name_FocusThumbnail {
  font-family: var(--font-02);
  color: var(--color-01);
  font-size: medium;
  
}

.FocusThumbnail:hover .image_FocusThumbnail{
  transform: scale(1.03);
    filter:
    drop-shadow(0 0 4px rgba(255, 255, 255, 0.9))
    drop-shadow(0 0 7px rgba(255, 255, 255, 0.7))
    brightness(1.10);
}

.FocusThumbnail:hover .name_FocusThumbnail {
  filter: brightness(1.20);
}
