@media (max-width: 1000px) {
  .search_bar_position {
    height: auto;
    flex-direction: column;
    padding: 1rem 0;
  }
  .search_bar_container {
    width: 87%;
  }
  .dropdown_search_container {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 2rem;
  }
}
