.Main_movieSearchPage {
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow: hidden;
}

.search_bar_contents {
  flex: 0 0 auto;
}

.search_bar_position {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  gap: 1rem;
}
.search_bar_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  border-radius: 25px;
  padding: 10px;
}
.search_bar_container_responsive{
  display: none;
}

.search_bar {
  padding: 10px;
  width: 80%;
}

.dropdown_search_container {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 2rem;
}

.reset_search_btn {
  width: 42px;
  height: 42px;
  color: var(--color-01);
  background-color: transparent;
  border: 1px solid var(--color-01);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.reset_search_btn:hover {
  color: var(--color-03);
  border-color: var(--color-03);
  transform: rotate(-0.25turn) scale(1.1);
}

.reset_search_btn:active {
  transform: scale(0.9);
  color: var(--color-02);
  border-color: var(--color-02);
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  color: var(--color-01);
  border: solid 1px var(--color-01);
  border-radius: 50%;
  padding: 5px;
  margin: 0 1rem 0 0;
}
.AllMoviesPosition_seach {
  display: flex;
  justify-content: center;
}
.allMoviesBtn_search {
  border: dashed 1px var(--color-02);
  border-top: 0;
  border-radius: 0 0 10px 10px;
}

.search_bear_position {
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MovieThumbnails_container {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.MovieThumbnails_Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.Search_pitch_container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  width: 59%;
}
.Search_pitch {
  font-family: var(--font-03);
  text-align: center;
  line-height: normal;
  color: var(--color-01);
}
.search_bear_background {
  border-radius: 25px;
  width: 31%;
}

.MovieThumbnails_container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.MovieThumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.NoMovieMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  gap: 1.5rem;
}

.NoMovieMessageContainer p {
  font-size: 3rem;
  font-family: var(--font-02);
  color: var(--color-03);
}

.reset_search_btn_NoMovie {
  width: 3rem !important;
  height: 3rem !important;
  color: var(--color-01);
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--color-01);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.reset_search_btn_NoMovie:hover {
  color: var(--color-03);
  border-color: var(--color-03);
  transform: rotate(-0.25turn) scale(1.1);
}

.reset_search_btn_NoMovie:active {
  color: var(--color-02);
  border-color: var(--color-02);
  transform: scale(0.95);
}