@media (max-width: 1279px) {
  .search_bar_container {
    padding: 10px 0;
  }
  .filter_container_MovieSearch {
    gap: 1rem;
  }
}

@media (max-width: 1260px) {
  .search_bar_position {
    flex-wrap: wrap;
    height: auto;
    padding: 1rem 0;
  }
}

@media (max-width: 950px) {
  .search_bar_position {
    flex-direction: column;
  }

  .search_bar_container {
    width: 80%;
  }

  .search_bar {
    width: 100%;
  }

  .dropdown_search_container {
    width: 80%;
    margin-bottom: 10px;
  }
  .filter_container_MovieSearch {
    margin-bottom: 10px;
  }
    /* .dropdown_search_container .css-1e6k89n-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  width: 50% !important;} */
}

@media (max-width: 768px) {
  .search_bar_container {
    padding: 10px 0 0 0;
  }

  .mobile_toggle_button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 100%;
    border: solid 1px var(--color-01);
    padding: 8px;
    color: var(--color-01);
    background-color: var(--color-04);
  }

  .dropdown_search_container,
  .filter_container_MovieSearch {
    flex-direction: column;
  }

  .dropdown_search_container .css-1e6k89n-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  width: auto !important;
  flex-wrap: wrap;
}
}