.artists_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.artists_seach_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.artists_groups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  border-right: 1px solid white;
}

.artists_groups_content {
  width: 100%;
  height: 72vh;
  overflow: auto;
  padding-top: 1rem;
}

.artists_groups_content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.artists_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.MuiButton-root.artists_button {
  font-family: var(--font-04);
  font-size: medium;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.filmo_artists {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.artists_bear {
  width: 90%;
  height: 72vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.artists_bear_position {
  display: flex;
  justify-content: center;
  width: 100%;
}
.artists_bear_container {
  display: flex;
  justify-content: space-evenly;
  width: 88%;
  column-gap: 2rem;
}
.artists_pitch_container {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  width: 50%;
}
.artists_pitch {
  font-family: var(--font-03);
  text-align: center;
  line-height: normal;
  color: var(--color-01);
}
.artists_bear_illustr {
  width: 45%;
  border-radius: 25px;
}
.artists_filmo {
  width: 100%;
  overflow: auto;
}

.MovieCountArtistMovie_container {
  position: sticky;
  top: 0;
  z-index: 10;
}
.artists_filmo_thumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 72vh;
  padding-top: 1rem;
}
.scroll_zone {
  display: flex;
  justify-content: center;
  overflow: auto;
}
.scroll_zone_2 {
  justify-content: flex-start;
  height: 100%;
}
.css-18l2pqx-MuiButtonBase-root-MuiButton-root .Btn_artists {
  width: 15%;
  line-height: 0;
}
