@media (max-width: 1280px) {
  .MuiButton-root.artists_button {
    font-size: small;
  }
}

@media (max-width: 1024px) {
  .artists_bear_container {
    width: 100%;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
  }
  .artists_pitch_container {
    font-size: 1.6rem;
    width: 72%;
  }
  .artists_groups {
    width: 30%;
}

.artists_groups_content{
    height: 75vh;
}

.filmo_artists {
    width: 70%;
    height: 80vh;
}
}
