/* .css-79ws1d-MuiModal-root {
  position: fixed;
  z-index: 1300;
  right: 0;
  bottom: 0;
  top: 2rem;
  left: 0;
} */

.MovieCard {
  background-color: var(--color-04);
  padding: 1.5rem;
  margin: 0 5%;
}
.MovieCard_container {
  display: flex;
  flex-direction: column;
}

.MC_line1 {
  display: flex;
}

.MovieCard_Cover_Position {
  margin: 0 2rem 1rem 0;
}
.MovieCard_cover {
  width: 233px;
  height: 350px;
}
.movie_cover_modify_button {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.infos_bloc_1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.infos_bloc_1_modify {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 100%;
}
.movieCard_Type_Line {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.MovieCard_title {
  font-family: var(--font-05);
  color: var(--color-02);
  font-size: x-large;
  margin-bottom: 0.5rem;
}
.box_item_form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.movie_cover_modify_buttons_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.Btn_Add_itemsPopUp_MovieCard {
  cursor: pointer;
  color: whitesmoke;
}
.Btn_Refresh_items_MovieCard {
  cursor: pointer;
  color: var(--color-02);
}
.Btn_Add_itemsPopUp_MovieCard:hover,
.Btn_Refresh_items_MovieCard:hover {
  transform: rotate(-15deg) scale(1.3);
}

.Btn_Refresh_items_MovieCard:hover {
  animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
  0% {
    transform: rotate(-15deg) scale(1.3);
  }
  25% {
    transform: rotate(10deg) scale(1.35);
  }
  50% {
    transform: rotate(-5deg) scale(1.3);
  }
  75% {
    transform: rotate(5deg) scale(1.32);
  }
  100% {
    transform: rotate(0deg) scale(1.3);
  }
}

.divider {
  background-color: whitesmoke;
  width: 100%;
  height: 1px;
  margin: 0.5rem 0;
}
.divider_dashed {
  width: 100%;
  height: 1px;
  margin: 0.5rem 0;
  border-top: 1px dashed whitesmoke;
}
.divider_movie_cover_modify_button,
.divider_movie_cover_modify_button2{
  display: none;
}

.MC_line2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.MC_line2_modify {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}

.MovieCard_info {
  font-family: var(--font-06);
  font-size: 0.9rem;
  color: var(--color-01);
}
.MovieCard_story {
  text-align: justify;
}
.paraph_bolder {
  font-weight: bold;
}
.paraph_color_2 {
  color: var(--color-02);
}
.paraph_height {
  line-height: 26px;
}
.MovieCard_trailer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.MovieCard_trailer > p {
  margin-bottom: 1rem;
}
.divider_trailer {
  margin-bottom: 0;
}
.Toggle_video_player {
  display: flex;
  align-items: center;
  border: dashed 1px whitesmoke;
  border-top: 0;
  width: max-content;
  padding: 10px;
  column-gap: 10px;
  cursor: pointer;
}
.Toggle_video_btn:hover {
  color: var(--color-02);
}
.video_arrow_closed {
  transform: scaleX(-1);
  width: 30px;
}
.video_arrow_open {
  transform: scaleX(-1);
  transform: rotate(-90deg);
  width: 30px;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.Movie_editing_btn-container {
  margin-top: 1rem;
}

.Item_Movie_Editing_Buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 1rem;
}

.item_movie_mode_ico,
.item_movie_delete_ico,
.item_movie_undo_ico,
.item_movie_done_ico {
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border: solid 1px;
  border-radius: 10px;
}

.item_movie_mode_ico,
.item_movie_delete_ico {
  color: var(--color-02);
}

.item_movie_undo_ico {
  color: whitesmoke;
}

.item_movie_done_ico {
  color: greenyellow;
}


