.global_main-01 {
  min-height: calc(100vh - 95px);
}

.dashed_secondary_bar {
  border-bottom: dashed 1px var(--color-02);
}

.search_bar {
  border-radius: 10px;
  font-family: var(--font-04);
  font-size: medium;
  text-align: center;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #05cfa6 #383838;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #383838;
}

*::-webkit-scrollbar-thumb {
  background-color: #05cfa6;
  border-radius: 10px;
  border: 0px groove #ffffff;
}

.scroll_zone {
  display: flex;
  justify-content: center;
  overflow: auto;
  width: 100%;
}
